header{
    background-position: center;
    background-size: cover;
    background-image: url(assets/img/blueasy-freebie.jpg);
    
    .header_top{
        position: relative;
        z-index: 1;
        padding: 10px 0;
        
        &:after{
            position: absolute;
            background-color: $section_bg;
            opacity: .8;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    
    .logo h2{
        color: $text_pri_color;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 30px;
        font-weight: 800;
       
        
            span{
                color: $theme_color;
            }
        }
    
    nav{
        ul{
            li{
                a{
                    color: $text_pri_color;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 400;
                    border: 1px solid transparent;
                    transition: .3s;
                    margin-left: 10px;
                    
                    &:hover{ color: $theme_color;
                    }
                    
                    &.active{
                     color: $theme_color;                  
                     border: 1px solid $theme_color;
                    }
                }
            }
        }
    }
    
    .slogan_text{
        width: 70%;
        margin: 200px auto;
        color: $text_pri_color;
        
        h2{
            font-size: 32px; 
            font-weight: 600;
            text-align: center;
            line-height: 1.5;
            span{
                background-color: $section_bg;
                padding: 3px 10px;
            }
        }
    }
}